<div class="top container">
  <div class="container">
    <h2>Create Listing</h2>
    <section>
      <fieldset>
        <!-- {{ bikeForm.value | json }} -->
        <form (submit)='onSubmit($event, bikeForm)' #bikeForm='ngForm'>
          <div>
            <label for="">Title</label>
            <input class="form-control" type="text" name="title" required [(ngModel)]='bike.title'>
          </div>

          <div>
            <label for="">Price</label>
            <input class="form-control" type="number" name='price' required min="1" [(ngModel)]='bike.price'>
          </div>

          <div>
            <label for="">Location</label>
            <input class="form-control" type="text" name='location' required [(ngModel)]='bike.location'>
          </div>

          <div>
            <label for="">Description</label>
            <input class="form-control" type="text" name='description' required [(ngModel)]='bike.description'>
          </div>

          <div>
            <label for="">Image URL</label>
            <input class="form-control" type="text" name='image' required [(ngModel)]='bike.image'>
          </div>
          <button class="btn btn-success" [disabled]='!bikeForm.valid'>Create</button>
        </form>
      </fieldset>
    </section>
  </div>
  <hr>

  <div class="container">
    <h3>Edit/Delete Listings</h3>
    <div class="container" *ngFor='let bike of bikes'>
      <div *ngIf="bike.ownerId === currUserId;">
        <form (submit)='onUpdate($event, updateForm)' #updateForm='ngForm'>
          <div class="listing">
            <div class="row">
              <div class="col-3">
                <img src="{{ bike?.image }}" alt="bike-image">
                <label for="">Image URL: </label>
                <input class="form-control" type="text" name='image' value="{{ bike?.image }}" required [(ngModel)]='bike.image'>
              </div>
              <div class="col-6">
                <div class="row">
                  <label for="">Title</label>
                  <input class="form-control" type="text" name="title" required [(ngModel)]='bike.title'>
                </div>
                <div class="row">
                  <label for="">Description: </label>
                  <input class="form-control" type="text" name='Description' required maxlength="200" [(ngModel)]='bike.description'>
                </div>
              </div>
              <div class="col-3">
                <div class="row">
                  <label for="">Price: </label>
                  <input class="form-control" type="number" name='price' value="{{ bike?.price }}" required min="1" [(ngModel)]='bike.price'>
                </div>
                <div class="row">
                  <label for="">Location:</label>
                  <input class="form-control" type="text" name='location' value="{{ bike?.location }}" required [(ngModel)]='bike.location'>
                </div>
                <div class="row">
                  <button class="delete btn btn-danger" (click)="onDelete(bike)">Delete</button>
                  <button class="update btn btn-success" [disabled]="!updateForm.valid" (click)="onUpdate(bike)">Update</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
